<div id="<%= dom_id jogo %>">
  <div>
    <strong>Title:</strong>
    <%= jogo.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= jogo.description %>
  </div>

  <div>
    <strong>Developer:</strong>
    <%= jogo.developer %>
  </div>

  <div>
    <strong>Genre:</strong>
    <%= jogo.genre %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= jogo.price %>
  </div>

</div>
